<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="row">
        <div class="col text-center">
          <img src="/assets/img/burger1.png" alt="Burger" height="150px">
          <h3>Eat-Da-Burger!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <form>
            <input type="text" name="burgername"><br>
            <input type="submit" value="Submit">
          </form>
          <p>Enter a burger you want to eat then click the "Submit" button</p>
        </div>
      </div>
    </div>
  </div>
</div>