<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="row">
        {{!-- Burger Image --}}
        <div class="col text-center">
          <img src="/assets/img/burger1.png" alt="Burger" height="150px">
          <h3>Eat-Da-Burger!</h3>
        </div>
      </div>
      <div class="row">
        {{!-- Left Side Burger Display --}}
        <div class="col-6">
          <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>
              {{this.burger_name}}
              <button type="button" class="devour-btn" data-id="{{id}}" data-newDevouredState="{{devoured}}">Devour
                It</button>
            </li>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
        {{!-- Right Side Burger Display --}}
        <div class="col-6">
          <ul>
            {{#each burgers}}
            {{#if devoured}}
            <li>
              {{this.burger_name}}
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
      {{!-- Burger Submit Form --}}
      <div class="row">
        <div class="col text-center">
          <form class="create-form">
            <div class="form-group">
              <input type="text" name="burger_name" id="burger-input"><br>
              <input type="submit" value="Submit">
            </div>
          </form>
          <p>Enter a burger you want to eat then click the "Submit" button</p>
        </div>
      </div>
    </div>
  </div>
</div>